
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=be77cba52032033bc04088dfd993fac9
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress